

h1 {
  font-family: sans-serif;
  font-size: 30pt;
  font-weight: bold;
  color: black;
}
h2 {
  font-family: sans-serif;
  font-size: 25pt;
  font-weight: bold;
  color: black;
}
h3 {
  font-family: sans-serif;
  font-size: 20pt;
  font-weight:normal;;
  color: black;
}
/*body {
    background-image: image(css/img1.bkgrd.jpg);*/
/*}
#css {
    display: none;
}
#java {
    display: none;
}
#ruby {
    display: none;
}
#c {
    display: none;
}
#php {
    display: none;*/*/
